.box{
    width: 200px;
    height: 200px;
}

#red{
    background-color: red;
    position: absolute;
    top: 400px;
    left: 400px;
}

#blue{
    background-color: blue;
    position: absolute;
    left: 200px;
    top: 200px;
}

#yellow{
    background-color: yellow;
    position: absolute;
}
